* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
  }

  h2, h3 {
    color: black;
    text-align: center;
    margin: 20px auto;
  }

  p {
    margin: 20px 0;
    text-align: justify;
  }

  .img-izq {
    float: left; 
    margin: 0 15px 10px 0;
    max-width: 30%; 
    position: relative;
    top: 15px ;
    border-radius: 10px;
  }

  .img-derecha {
    float: right; 
    margin: 10px 0 10px 15px; 
    max-width: 50%; 
    position: relative;
    top: 0px ;
    border-radius: 10px;
  }

  header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 1000;
  }

  header .logo {
    font-size: 200%;
    font-weight: bold;
  }

  nav {
    margin: 0;
  }

  nav a {
    color: #fff;
    margin-left: 1.5rem;
    text-decoration: none;
    font-size: 1rem;
  }
  .contenedor {
  padding: 40px; 
  }
  .contenedor2 {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  nav a:hover {
    text-decoration: underline;
  }
  ul , ol {
    margin: 20px;
  }
